# Imports

In [1]:
import pandas as pd
from pathlib import Path

# File Finder

In [2]:
BASE_DIR = Path("..")

# Check No of Files

In [3]:
silver_path = BASE_DIR / "data" / "silver"
parquet_files = list(silver_path.rglob("*.parquet"))

print(f"âœ… {len(parquet_files)} Parquet Found\n")

âœ… 21 Parquet Found

# Health check

In [4]:
results = []

for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    nulls = df.isnull().sum().sum()
    
    results.append({
        "Layer":    path.parent.name,
        "Tabelle":  path.stem,
        "Rows":     df.shape[0],
        "Cols":     df.shape[1],
        "Nulls":    nulls,
        "Size KB":  round(path.stat().st_size / 1024, 1)
    })

overview = pd.DataFrame(results)
display(overview)

         Layer                Tabelle    Rows  Cols  Nulls  Size KB
0   dimensions                 cities   37940     8  48988   1679.1
1   dimensions                 colors      36     5     36      3.9
2   dimensions              countries     190    14    190   1106.4
3   dimensions       delivery_methods      10     5     10      3.8
4   dimensions          package_types      14     5     14      3.7
5   dimensions        payment_methods       4     5      4      3.6
6   dimensions                 people     906    16    906     61.5
7   dimensions              provinces      53    10     54    332.3
8   dimensions           stock_groups      10     5     10      3.7
9   dimensions    stock_item_holdings     227     9      0     10.8
10  dimensions            stock_items     227    23   1017     25.8
11  dimensions      transaction_types      13     5     13      3.8
12  purchasing   purchase_order_lines    4759    12      0     90.8
13  purchasing        purchase_orders    1207    10      0     31.3
14  purchasing  supplier_transactions    2438    15    734    103.3
15  purchasing              suppliers      13    29     32     21.8
16       sales              customers     625    29   1473     99.4
17       sales          invoice_lines  126909    13      0   2007.7
18       sales               invoices   38991    20      0   3700.8
19       sales            order_lines  128144    12   1235   1771.9
20       sales                 orders   40286    13  42718    614.3

In [9]:
for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    nulls = df.isnull().sum()
    nulls_only = nulls[nulls > 0]
    
    print(f"\n{'â•'*60}")
    print(f"ğŸ“„ {path.parent.name} / {path.stem}")
    print(f"{'â•'*60}")
    print(f"Shape:  {df.shape[0]} rows x {df.shape[1]} cols")
    print(f"Dtypes:\n{df.dtypes}")
    
    if nulls_only.empty:
        print("\nâœ… Keine Nulls")
    else:
        print(f"\nâš ï¸  Nulls:\n{nulls_only}")
    
    print(f"\nSample:\n{df.head(2)}")

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / cities
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  37940 rows x 8 cols
Dtypes:
city_id                                int64
city_name                                str
state_province_id                      int64
location                                 str
latest_recorded_population             Int64
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
latest_recorded_population    11048
valid_to                      37940
dtype: int64

Sample:
   city_id   city_name  state_province_id  \
0        1  Aaronsburg                 39
1        3      Abanda                  1

                                         location  latest_recorded_population  \
0  0xE6100000010C07E11B542C73444087C09140035D53C0                         613
1  0xE6100000010C4033880FEC8C4040EFBF3A33E66155C0                         192

   last_edited_by valid_from valid_to
0               1 2013-01-01      NaT
1               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / colors
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  36 rows x 5 cols
Dtypes:
color_id                   int64
color_name                   str
last_edited_by             int64
valid_from        datetime64[ns]
valid_to          datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    36
dtype: int64

Sample:
   color_id color_name  last_edited_by valid_from valid_to
0         1      Azure               1 2013-01-01      NaT
1         2      Beige               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / countries
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  190 rows x 14 cols
Dtypes:
country_id                             int64
country_name                             str
formal_name                              str
iso_alpha3_code                          str
iso_numeric_code                       int64
country_type                             str
latest_recorded_population             int64
continent                                str
region                                   str
subregion                                str
border                                   str
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    190
dtype: int64

Sample:
   country_id country_name                   formal_name iso_alpha3_code  \
0           1  Afghanistan  Islamic State of Afghanistan             AFG
1           3      Albania           Republic of Albania             ALB

   iso_numeric_code     country_type  latest_recorded_population continent  \
0                 4  UN Member State                    28400000      Asia
1                 8  UN Member State                     3785031    Europe

   region        subregion                                             border  \
0    Asia    Southern Asia  0xE610000001049A01000066666666A69D424034333333...
1  Europe  Southern Europe  0xE6100000010471000000CCCCCCCC0C46454000000000...

   last_edited_by          valid_from valid_to
0               1 2013-01-01 00:00:00      NaT
1              20 2013-07-01 16:00:00      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / delivery_methods
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  10 rows x 5 cols
Dtypes:
delivery_method_id               int64
delivery_method_name               str
last_edited_by                   int64
valid_from              datetime64[ns]
valid_to                datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    10
dtype: int64

Sample:
   delivery_method_id delivery_method_name  last_edited_by valid_from valid_to
0                   1                 Post               1 2013-01-01      NaT
1                   2              Courier               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / package_types
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  14 rows x 5 cols
Dtypes:
package_type_id               int64
package_type_name               str
last_edited_by                int64
valid_from           datetime64[ns]
valid_to             datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    14
dtype: int64

Sample:
   package_type_id package_type_name  last_edited_by valid_from valid_to
0                1               Bag               1 2013-01-01      NaT
1                2             Block               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / payment_methods
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  4 rows x 5 cols
Dtypes:
payment_method_id               int64
payment_method_name               str
last_edited_by                  int64
valid_from             datetime64[ns]
valid_to               datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    4
dtype: int64

Sample:
   payment_method_id payment_method_name  last_edited_by valid_from valid_to
0                  1                Cash               1 2013-01-01      NaT
1                  2               Check               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / people
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  906 rows x 16 cols
Dtypes:
person_id                              int64
full_name                                str
preferred_name                           str
search_name                              str
is_permitted_to_logon                  int64
logon_name                               str
is_external_logon_provider             int64
is_system_user                         int64
is_employee                            int64
is_salesperson                         int64
phone_number                             str
fax_number                               str
email_address                            str
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    906
dtype: int64

Sample:
   person_id         full_name preferred_name                search_name  \
0       1002  Laimonis Berzins       Laimonis  Laimonis Laimonis Berzins
1       1003    Lorena Cindric         Lorena      Lorena Lorena Cindric

   is_permitted_to_logon logon_name  is_external_logon_provider  \
0                      0   NO LOGON                           0
1                      0   NO LOGON                           0

   is_system_user  is_employee  is_salesperson    phone_number  \
0               0            0               0  (308) 555-0100
1               0            0               0  (406) 555-0100

       fax_number              email_address  last_edited_by valid_from  \
0  (308) 555-0101  laimonis@tailspintoys.com               1 2013-01-01
1  (406) 555-0101    lorena@tailspintoys.com               1 2013-01-01

  valid_to
0      NaT
1      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / provinces
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  53 rows x 10 cols
Dtypes:
state_province_id                      int64
state_province_code                      str
state_province_name                      str
country_id                             int64
sales_territory                          str
border                                   str
latest_recorded_population             int64
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
border       1
valid_to    53
dtype: int64

Sample:
   state_province_id state_province_code state_province_name  country_id  \
0                  1                  AL             Alabama         230
1                  2                  AK              Alaska         230

  sales_territory                                             border  \
0       Southeast  0xE61000000104B600000057BB58BAD3E43F403277EE90...
1        Far West  0xE61000000104DB080000C760C5A9D6FC49403C9F01F5...

   latest_recorded_population  last_edited_by          valid_from valid_to
0                     5437278              15 2015-07-01 16:00:00      NaT
1                      735132               1 2013-01-01 00:05:00      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_groups
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  10 rows x 5 cols
Dtypes:
stock_group_id               int64
stock_group_name               str
last_edited_by               int64
valid_from          datetime64[ns]
valid_to            datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    10
dtype: int64

Sample:
   stock_group_id stock_group_name  last_edited_by valid_from valid_to
0               1    Novelty Items               1 2013-01-01      NaT
1               2         Clothing               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_item_holdings
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  227 rows x 9 cols
Dtypes:
stock_item_id                       int64
quantity_on_hand                    int64
bin_location                          str
last_stocktake_quantity             int64
last_cost_price                   float64
reorder_level                       int64
target_stock_level                  int64
last_edited_by                      int64
last_edited_when           datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   stock_item_id  quantity_on_hand bin_location  last_stocktake_quantity  \
0              1            175609          L-1                   171341
1              2            165538          L-1                   161435

   last_cost_price  reorder_level  target_stock_level  last_edited_by  \
0              9.5             20                 100              16
1              9.5             20                 100               3

     last_edited_when
0 2016-05-31 07:00:00
1 2016-05-31 12:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_items
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  227 rows x 23 cols
Dtypes:
stock_item_id                        int64
stock_item_name                        str
supplier_id                          int64
color_id                             Int64
unit_package_id                      int64
outer_package_id                     int64
brand                                  str
size                                   str
lead_time_days                       int64
quantity_per_outer                   int64
is_chiller_stock                     int64
barcode                            float64
tax_rate                           float64
unit_price                         float64
recommended_retail_price           float64
typical_weight_per_unit            float64
marketing_comments                     str
custom_fields                          str
tags                                   str
search_details                         str
last_edited_by                       int64
valid_from                  datetime64[ns]
valid_to                    datetime64[ns]
dtype: object

âš ï¸  Nulls:
color_id               99
brand                 209
size                   64
barcode               219
marketing_comments    199
valid_to              227
dtype: int64

Sample:
   stock_item_id               stock_item_name  supplier_id  color_id  \
0              1  USB missile launcher (Green)           12      <NA>
1              2    USB rocket launcher (Gray)           12        12

   unit_package_id  outer_package_id brand size  lead_time_days  \
0                7                 7   NaN  NaN              14
1                7                 7   NaN  NaN              14

   quantity_per_outer  ...  unit_price  recommended_retail_price  \
0                   1  ...        25.0                     37.38
1                   1  ...        25.0                     37.38

   typical_weight_per_unit            marketing_comments  \
0                      0.3  Complete with 12 projectiles
1                      0.3  Complete with 12 projectiles

                                       custom_fields             tags  \
0  { "CountryOfManufacture": "China", "Tags": ["U...  ["USB Powered"]
1  { "CountryOfManufacture": "China", "Tags": ["U...  ["USB Powered"]

                                      search_details last_edited_by  \
0  USB missile launcher (Green) Complete with 12 ...              1
1  USB rocket launcher (Gray) Complete with 12 pr...              1

           valid_from valid_to
0 2016-05-31 23:11:00      NaT
1 2016-05-31 23:11:00      NaT

[2 rows x 23 columns]

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / transaction_types
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  13 rows x 5 cols
Dtypes:
transaction_type_id               int64
transaction_type_name               str
last_edited_by                    int64
valid_from               datetime64[ns]
valid_to                 datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    13
dtype: int64

Sample:
   transaction_type_id transaction_type_name  last_edited_by valid_from  \
0                    1      Customer Invoice               1 2013-01-01
1                    2  Customer Credit Note               1 2013-01-01

  valid_to
0      NaT
1      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / purchase_order_lines
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  4759 rows x 12 cols
Dtypes:
purchase_order_line_id                    int64
purchase_order_id                         int64
stock_item_id                             int64
ordered_outers                            int64
description                                 str
received_outers                           int64
package_type_id                           int64
expected_unit_price_per_outer           float64
last_receipt_date                datetime64[ns]
is_order_line_finalized                   int64
last_edited_by                            int64
last_edited_when                 datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   purchase_order_line_id  purchase_order_id  stock_item_id  ordered_outers  \
0                       1                  1            150              18
1                       2                  1            151              21

                           description  received_outers  package_type_id  \
0  Pack of 12 action figures (variety)               18                9
1     Pack of 12 action figures (male)               21                9

   expected_unit_price_per_outer last_receipt_date  is_order_line_finalized  \
0                            5.5        2013-01-02                        1
1                            5.5        2013-01-02                        1

   last_edited_by    last_edited_when
0               6 2013-01-02 07:00:00
1               6 2013-01-02 07:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / purchase_orders
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  1207 rows x 10 cols
Dtypes:
purchase_order_id                  int64
supplier_id                        int64
order_date                datetime64[ns]
delivery_method_id                 int64
contact_person_id                  int64
expected_delivery_date    datetime64[ns]
supplier_reference                   str
is_order_finalized                 int64
last_edited_by                     int64
last_edited_when          datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   purchase_order_id  supplier_id order_date  delivery_method_id  \
0                  1            2 2013-01-01                   9
1                  2            4 2013-01-01                   7

   contact_person_id expected_delivery_date supplier_reference  \
0                  2             2013-01-15           B2084020
1                  2             2013-01-15             293092

   is_order_finalized  last_edited_by    last_edited_when
0                   1               6 2013-01-02 07:00:00
1                   1               6 2013-01-02 07:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / supplier_transactions
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  2438 rows x 15 cols
Dtypes:
supplier_transaction_id             int64
supplier_id                         int64
transaction_type_id                 int64
purchase_order_id                   Int64
payment_method_id                   int64
supplier_invoice_number             Int64
transaction_date           datetime64[ns]
amount_excluding_tax              float64
tax_amount                        float64
transaction_amount                float64
outstanding_balance               float64
finalization_date          datetime64[ns]
is_finalized                        int64
last_edited_by                      int64
last_edited_when           datetime64[ns]
dtype: object

âš ï¸  Nulls:
purchase_order_id          366
supplier_invoice_number    366
finalization_date            2
dtype: int64

Sample:
   supplier_transaction_id  supplier_id  transaction_type_id  \
0                      134            2                    5
1                      169            4                    5

   purchase_order_id  payment_method_id  supplier_invoice_number  \
0                  1                  4                     7290
1                  2                  4                     3898

  transaction_date  amount_excluding_tax  tax_amount  transaction_amount  \
0       2013-01-02                 313.5       47.03              360.53

In [10]:
# Nur Spalten die "date", "when", "time" im Namen haben aber noch str sind
suspicious = []

for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    for col in df.select_dtypes(include="str").columns:
        if any(keyword in col.lower() for keyword in ["date", "when", "time", "from", "to"]):
            suspicious.append({
                "Tabelle": f"{path.parent.name}/{path.stem}",
                "Spalte":  col,
                "Dtype":   str(df[col].dtype)
            })

if suspicious:
    print("âš ï¸  VerdÃ¤chtige str-Spalten:")
    for s in suspicious:
        print(f"  {s['Tabelle']} -> {s['Spalte']}")
else:
    print("âœ… Alle Datumsspalten korrekt gecastet")

âš ï¸  VerdÃ¤chtige str-Spalten:
  dimensions/provinces -> sales_territory
  dimensions/stock_groups -> stock_group_name
  dimensions/stock_items -> stock_item_name
  dimensions/stock_items -> custom_fields
  sales/customers -> customer_name