# Imports

In [1]:
import pandas as pd
from pathlib import Path

# File Finder

In [2]:
BASE_DIR = Path("..")

# Check No of Files

In [3]:
silver_path = BASE_DIR / "data" / "silver"
parquet_files = list(silver_path.rglob("*.parquet"))

print(f"âœ… {len(parquet_files)} Parquet Found\n")

âœ… 21 Parquet Found

# Health check

In [4]:
results = []

for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    nulls = df.isnull().sum().sum()
    
    results.append({
        "Layer":    path.parent.name,
        "Tabelle":  path.stem,
        "Rows":     df.shape[0],
        "Cols":     df.shape[1],
        "Nulls":    nulls,
        "Size KB":  round(path.stat().st_size / 1024, 1)
    })

overview = pd.DataFrame(results)
display(overview)

         Layer                Tabelle    Rows  Cols  Nulls  Size KB
0   dimensions                 cities   37940     8  48988   1679.1
1   dimensions                 colors      36     5     36      3.9
2   dimensions              countries     190    14    190   1106.4
3   dimensions       delivery_methods      10     5     10      3.8
4   dimensions          package_types      14     5     14      3.7
5   dimensions        payment_methods       4     5      4      3.6
6   dimensions                 people     906    16    906     61.5
7   dimensions              provinces      53    10     54    332.3
8   dimensions           stock_groups      10     5     10      3.7
9   dimensions    stock_item_holdings     227     9      0     10.8
10  dimensions            stock_items     227    23   1017     25.8
11  dimensions      transaction_types      13     5     13      3.8
12  purchasing   purchase_order_lines    4759    12      0     90.8
13  purchasing        purchase_orders    1207    10      0     31.3
14  purchasing  supplier_transactions    2438    15    734    103.3
15  purchasing              suppliers      13    29     32     21.8
16       sales              customers     625    29   1473     99.4
17       sales          invoice_lines  126909    13      0   2007.7
18       sales               invoices   38991    20      0   3700.8
19       sales            order_lines  128144    12   1235   1771.9
20       sales                 orders   40286    13  42718    614.3

In [9]:
for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    nulls = df.isnull().sum()
    nulls_only = nulls[nulls > 0]
    
    print(f"\n{'â•'*60}")
    print(f"ğŸ“„ {path.parent.name} / {path.stem}")
    print(f"{'â•'*60}")
    print(f"Shape:  {df.shape[0]} rows x {df.shape[1]} cols")
    print(f"Dtypes:\n{df.dtypes}")
    
    if nulls_only.empty:
        print("\nâœ… Keine Nulls")
    else:
        print(f"\nâš ï¸  Nulls:\n{nulls_only}")
    
    print(f"\nSample:\n{df.head(2)}")

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / cities
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  37940 rows x 8 cols
Dtypes:
city_id                                int64
city_name                                str
state_province_id                      int64
location                                 str
latest_recorded_population             Int64
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
latest_recorded_population    11048
valid_to                      37940
dtype: int64

Sample:
   city_id   city_name  state_province_id  \
0        1  Aaronsburg                 39
1        3      Abanda                  1

                                         location  latest_recorded_population  \
0  0xE6100000010C07E11B542C73444087C09140035D53C0                         613
1  0xE6100000010C4033880FEC8C4040EFBF3A33E66155C0                         192

   last_edited_by valid_from valid_to
0               1 2013-01-01      NaT
1               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / colors
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  36 rows x 5 cols
Dtypes:
color_id                   int64
color_name                   str
last_edited_by             int64
valid_from        datetime64[ns]
valid_to          datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    36
dtype: int64

Sample:
   color_id color_name  last_edited_by valid_from valid_to
0         1      Azure               1 2013-01-01      NaT
1         2      Beige               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / countries
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  190 rows x 14 cols
Dtypes:
country_id                             int64
country_name                             str
formal_name                              str
iso_alpha3_code                          str
iso_numeric_code                       int64
country_type                             str
latest_recorded_population             int64
continent                                str
region                                   str
subregion                                str
border                                   str
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    190
dtype: int64

Sample:
   country_id country_name                   formal_name iso_alpha3_code  \
0           1  Afghanistan  Islamic State of Afghanistan             AFG
1           3      Albania           Republic of Albania             ALB

   iso_numeric_code     country_type  latest_recorded_population continent  \
0                 4  UN Member State                    28400000      Asia
1                 8  UN Member State                     3785031    Europe

   region        subregion                                             border  \
0    Asia    Southern Asia  0xE610000001049A01000066666666A69D424034333333...
1  Europe  Southern Europe  0xE6100000010471000000CCCCCCCC0C46454000000000...

   last_edited_by          valid_from valid_to
0               1 2013-01-01 00:00:00      NaT
1              20 2013-07-01 16:00:00      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / delivery_methods
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  10 rows x 5 cols
Dtypes:
delivery_method_id               int64
delivery_method_name               str
last_edited_by                   int64
valid_from              datetime64[ns]
valid_to                datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    10
dtype: int64

Sample:
   delivery_method_id delivery_method_name  last_edited_by valid_from valid_to
0                   1                 Post               1 2013-01-01      NaT
1                   2              Courier               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / package_types
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  14 rows x 5 cols
Dtypes:
package_type_id               int64
package_type_name               str
last_edited_by                int64
valid_from           datetime64[ns]
valid_to             datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    14
dtype: int64

Sample:
   package_type_id package_type_name  last_edited_by valid_from valid_to
0                1               Bag               1 2013-01-01      NaT
1                2             Block               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / payment_methods
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  4 rows x 5 cols
Dtypes:
payment_method_id               int64
payment_method_name               str
last_edited_by                  int64
valid_from             datetime64[ns]
valid_to               datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    4
dtype: int64

Sample:
   payment_method_id payment_method_name  last_edited_by valid_from valid_to
0                  1                Cash               1 2013-01-01      NaT
1                  2               Check               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / people
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  906 rows x 16 cols
Dtypes:
person_id                              int64
full_name                                str
preferred_name                           str
search_name                              str
is_permitted_to_logon                  int64
logon_name                               str
is_external_logon_provider             int64
is_system_user                         int64
is_employee                            int64
is_salesperson                         int64
phone_number                             str
fax_number                               str
email_address                            str
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    906
dtype: int64

Sample:
   person_id         full_name preferred_name                search_name  \
0       1002  Laimonis Berzins       Laimonis  Laimonis Laimonis Berzins
1       1003    Lorena Cindric         Lorena      Lorena Lorena Cindric

   is_permitted_to_logon logon_name  is_external_logon_provider  \
0                      0   NO LOGON                           0
1                      0   NO LOGON                           0

   is_system_user  is_employee  is_salesperson    phone_number  \
0               0            0               0  (308) 555-0100
1               0            0               0  (406) 555-0100

       fax_number              email_address  last_edited_by valid_from  \
0  (308) 555-0101  laimonis@tailspintoys.com               1 2013-01-01
1  (406) 555-0101    lorena@tailspintoys.com               1 2013-01-01

  valid_to
0      NaT
1      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / provinces
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  53 rows x 10 cols
Dtypes:
state_province_id                      int64
state_province_code                      str
state_province_name                      str
country_id                             int64
sales_territory                          str
border                                   str
latest_recorded_population             int64
last_edited_by                         int64
valid_from                    datetime64[ns]
valid_to                      datetime64[ns]
dtype: object

âš ï¸  Nulls:
border       1
valid_to    53
dtype: int64

Sample:
   state_province_id state_province_code state_province_name  country_id  \
0                  1                  AL             Alabama         230
1                  2                  AK              Alaska         230

  sales_territory                                             border  \
0       Southeast  0xE61000000104B600000057BB58BAD3E43F403277EE90...
1        Far West  0xE61000000104DB080000C760C5A9D6FC49403C9F01F5...

   latest_recorded_population  last_edited_by          valid_from valid_to
0                     5437278              15 2015-07-01 16:00:00      NaT
1                      735132               1 2013-01-01 00:05:00      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_groups
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  10 rows x 5 cols
Dtypes:
stock_group_id               int64
stock_group_name               str
last_edited_by               int64
valid_from          datetime64[ns]
valid_to            datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    10
dtype: int64

Sample:
   stock_group_id stock_group_name  last_edited_by valid_from valid_to
0               1    Novelty Items               1 2013-01-01      NaT
1               2         Clothing               1 2013-01-01      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_item_holdings
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  227 rows x 9 cols
Dtypes:
stock_item_id                       int64
quantity_on_hand                    int64
bin_location                          str
last_stocktake_quantity             int64
last_cost_price                   float64
reorder_level                       int64
target_stock_level                  int64
last_edited_by                      int64
last_edited_when           datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   stock_item_id  quantity_on_hand bin_location  last_stocktake_quantity  \
0              1            175609          L-1                   171341
1              2            165538          L-1                   161435

   last_cost_price  reorder_level  target_stock_level  last_edited_by  \
0              9.5             20                 100              16
1              9.5             20                 100               3

     last_edited_when
0 2016-05-31 07:00:00
1 2016-05-31 12:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / stock_items
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  227 rows x 23 cols
Dtypes:
stock_item_id                        int64
stock_item_name                        str
supplier_id                          int64
color_id                             Int64
unit_package_id                      int64
outer_package_id                     int64
brand                                  str
size                                   str
lead_time_days                       int64
quantity_per_outer                   int64
is_chiller_stock                     int64
barcode                            float64
tax_rate                           float64
unit_price                         float64
recommended_retail_price           float64
typical_weight_per_unit            float64
marketing_comments                     str
custom_fields                          str
tags                                   str
search_details                         str
last_edited_by                       int64
valid_from                  datetime64[ns]
valid_to                    datetime64[ns]
dtype: object

âš ï¸  Nulls:
color_id               99
brand                 209
size                   64
barcode               219
marketing_comments    199
valid_to              227
dtype: int64

Sample:
   stock_item_id               stock_item_name  supplier_id  color_id  \
0              1  USB missile launcher (Green)           12      <NA>
1              2    USB rocket launcher (Gray)           12        12

   unit_package_id  outer_package_id brand size  lead_time_days  \
0                7                 7   NaN  NaN              14
1                7                 7   NaN  NaN              14

   quantity_per_outer  ...  unit_price  recommended_retail_price  \
0                   1  ...        25.0                     37.38
1                   1  ...        25.0                     37.38

   typical_weight_per_unit            marketing_comments  \
0                      0.3  Complete with 12 projectiles
1                      0.3  Complete with 12 projectiles

                                       custom_fields             tags  \
0  { "CountryOfManufacture": "China", "Tags": ["U...  ["USB Powered"]
1  { "CountryOfManufacture": "China", "Tags": ["U...  ["USB Powered"]

                                      search_details last_edited_by  \
0  USB missile launcher (Green) Complete with 12 ...              1
1  USB rocket launcher (Gray) Complete with 12 pr...              1

           valid_from valid_to
0 2016-05-31 23:11:00      NaT
1 2016-05-31 23:11:00      NaT

[2 rows x 23 columns]

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ dimensions / transaction_types
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  13 rows x 5 cols
Dtypes:
transaction_type_id               int64
transaction_type_name               str
last_edited_by                    int64
valid_from               datetime64[ns]
valid_to                 datetime64[ns]
dtype: object

âš ï¸  Nulls:
valid_to    13
dtype: int64

Sample:
   transaction_type_id transaction_type_name  last_edited_by valid_from  \
0                    1      Customer Invoice               1 2013-01-01
1                    2  Customer Credit Note               1 2013-01-01

  valid_to
0      NaT
1      NaT

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / purchase_order_lines
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  4759 rows x 12 cols
Dtypes:
purchase_order_line_id                    int64
purchase_order_id                         int64
stock_item_id                             int64
ordered_outers                            int64
description                                 str
received_outers                           int64
package_type_id                           int64
expected_unit_price_per_outer           float64
last_receipt_date                datetime64[ns]
is_order_line_finalized                   int64
last_edited_by                            int64
last_edited_when                 datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   purchase_order_line_id  purchase_order_id  stock_item_id  ordered_outers  \
0                       1                  1            150              18
1                       2                  1            151              21

                           description  received_outers  package_type_id  \
0  Pack of 12 action figures (variety)               18                9
1     Pack of 12 action figures (male)               21                9

   expected_unit_price_per_outer last_receipt_date  is_order_line_finalized  \
0                            5.5        2013-01-02                        1
1                            5.5        2013-01-02                        1

   last_edited_by    last_edited_when
0               6 2013-01-02 07:00:00
1               6 2013-01-02 07:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / purchase_orders
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  1207 rows x 10 cols
Dtypes:
purchase_order_id                  int64
supplier_id                        int64
order_date                datetime64[ns]
delivery_method_id                 int64
contact_person_id                  int64
expected_delivery_date    datetime64[ns]
supplier_reference                   str
is_order_finalized                 int64
last_edited_by                     int64
last_edited_when          datetime64[ns]
dtype: object

âœ… Keine Nulls

Sample:
   purchase_order_id  supplier_id order_date  delivery_method_id  \
0                  1            2 2013-01-01                   9
1                  2            4 2013-01-01                   7

   contact_person_id expected_delivery_date supplier_reference  \
0                  2             2013-01-15           B2084020
1                  2             2013-01-15             293092

   is_order_finalized  last_edited_by    last_edited_when
0                   1               6 2013-01-02 07:00:00
1                   1               6 2013-01-02 07:00:00

â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
ğŸ“„ purchasing / supplier_transactions
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
Shape:  2438 rows x 15 cols
Dtypes:
supplier_transaction_id             int64
supplier_id                         int64
transaction_type_id                 int64
purchase_order_id                   Int64
payment_method_id                   int64
supplier_invoice_number             Int64
transaction_date           datetime64[ns]
amount_excluding_tax              float64
tax_amount                        float64
transaction_amount                float64
outstanding_balance               float64
finalization_date          datetime64[ns]
is_finalized                        int64
last_edited_by                      int64
last_edited_when           datetime64[ns]
dtype: object

âš ï¸  Nulls:
purchase_order_id          366
supplier_invoice_number    366
finalization_date            2
dtype: int64

Sample:
   supplier_transaction_id  supplier_id  transaction_type_id  \
0                      134            2                    5
1                      169            4                    5

   purchase_order_id  payment_method_id  supplier_invoice_number  \
0                  1                  4                     7290
1                  2                  4                     3898

  transaction_date  amount_excluding_tax  tax_amount  transaction_amount  \
0       2013-01-02                 313.5       47.03              360.53

In [10]:
# Nur Spalten die "date", "when", "time" im Namen haben aber noch str sind
suspicious = []

for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    for col in df.select_dtypes(include="str").columns:
        if any(keyword in col.lower() for keyword in ["date", "when", "time", "from", "to"]):
            suspicious.append({
                "Tabelle": f"{path.parent.name}/{path.stem}",
                "Spalte":  col,
                "Dtype":   str(df[col].dtype)
            })

if suspicious:
    print("âš ï¸  VerdÃ¤chtige str-Spalten:")
    for s in suspicious:
        print(f"  {s['Tabelle']} -> {s['Spalte']}")
else:
    print("âœ… Alle Datumsspalten korrekt gecastet")

âš ï¸  VerdÃ¤chtige str-Spalten:
  dimensions/provinces -> sales_territory
  dimensions/stock_groups -> stock_group_name
  dimensions/stock_items -> stock_item_name
  dimensions/stock_items -> custom_fields
  sales/customers -> customer_name

In [6]:
for path in sorted(parquet_files):
    df = pd.read_parquet(path)
    nulls = df.isnull().sum()
    nulls_only = nulls[nulls > 0]
    print(path)
    print(df.info())

..\data\silver\dimensions\cities.parquet
<class 'pandas.DataFrame'>
RangeIndex: 37940 entries, 0 to 37939
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city_id                     37940 non-null  int64
 1   city_name                   37940 non-null  str
 2   state_province_id           37940 non-null  int64
 3   location                    37940 non-null  str
 4   latest_recorded_population  26892 non-null  Int64
 5   last_edited_by              37940 non-null  int64
 6   valid_from                  37940 non-null  datetime64[ns]
 7   valid_to                    0 non-null      datetime64[ns]
dtypes: Int64(1), datetime64[ns](2), int64(3), str(2)
memory usage: 4.3 MB
None
..\data\silver\dimensions\colors.parquet
<class 'pandas.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   color_id        36 non-null     int64
 1   color_name      36 non-null     str
 2   last_edited_by  36 non-null     int64
 3   valid_from      36 non-null     datetime64[ns]
 4   valid_to        0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 1.8 KB
None
..\data\silver\dimensions\countries.parquet
<class 'pandas.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_id                  190 non-null    int64
 1   country_name                190 non-null    str
 2   formal_name                 190 non-null    str
 3   iso_alpha3_code             190 non-null    str
 4   iso_numeric_code            190 non-null    int64
 5   country_type                190 non-null    str
 6   latest_recorded_population  190 non-null    int64
 7   continent                   190 non-null    str
 8   region                      190 non-null    str
 9   subregion                   190 non-null    str
 10  border                      190 non-null    str
 11  last_edited_by              190 non-null    int64
 12  valid_from                  190 non-null    datetime64[ns]
 13  valid_to                    0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(4), str(8)
memory usage: 2.2 MB
None
..\data\silver\dimensions\delivery_methods.parquet
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   delivery_method_id    10 non-null     int64
 1   delivery_method_name  10 non-null     str
 2   last_edited_by        10 non-null     int64
 3   valid_from            10 non-null     datetime64[ns]
 4   valid_to              0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 681.0 bytes
None
..\data\silver\dimensions\package_types.parquet
<class 'pandas.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   package_type_id    14 non-null     int64
 1   package_type_name  14 non-null     str
 2   last_edited_by     14 non-null     int64
 3   valid_from         14 non-null     datetime64[ns]
 4   valid_to           0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 752.0 bytes
None
..\data\silver\dimensions\payment_methods.parquet
<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   payment_method_id    4 non-null      int64
 1   payment_method_name  4 non-null      str
 2   last_edited_by       4 non-null      int64
 3   valid_from           4 non-null      datetime64[ns]
 4   valid_to             0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 315.0 bytes
None
..\data\silver\dimensions\people.parquet
<class 'pandas.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   906 non-null    int64
 1   full_name                   906 non-null    str
 2   preferred_name              906 non-null    str
 3   search_name                 906 non-null    str
 4   is_permitted_to_logon       906 non-null    int64
 5   logon_name                  906 non-null    str
 6   is_external_logon_provider  906 non-null    int64
 7   is_system_user              906 non-null    int64
 8   is_employee                 906 non-null    int64
 9   is_salesperson              906 non-null    int64
 10  phone_number                906 non-null    str
 11  fax_number                  906 non-null    str
 12  email_address               906 non-null    str
 13  last_edited_by              906 non-null    int64
 14  valid_from                  906 non-null    datetime64[ns]
 15  valid_to                    0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(7), str(7)
memory usage: 200.5 KB
None
..\data\silver\dimensions\provinces.parquet
<class 'pandas.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   state_province_id           53 non-null     int64
 1   state_province_code         53 non-null     str
 2   state_province_name         53 non-null     str
 3   country_id                  53 non-null     int64
 4   sales_territory             53 non-null     str
 5   border                      52 non-null     str
 6   latest_recorded_population  53 non-null     int64
 7   last_edited_by              53 non-null     int64
 8   valid_from                  53 non-null     datetime64[ns]
 9   valid_to                    0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(4), str(4)
memory usage: 433.7 KB
None
..\data\silver\dimensions\stock_groups.parquet
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   stock_group_id    10 non-null     int64
 1   stock_group_name  10 non-null     str
 2   last_edited_by    10 non-null     int64
 3   valid_from        10 non-null     datetime64[ns]
 4   valid_to          0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 651.0 bytes
None
..\data\silver\dimensions\stock_item_holdings.parquet
<class 'pandas.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stock_item_id            227 non-null    int64
 1   quantity_on_hand         227 non-null    int64
 2   bin_location             227 non-null    str
 3   last_stocktake_quantity  227 non-null    int64
 4   last_cost_price          227 non-null    float64
 5   reorder_level            227 non-null    int64
 6   target_stock_level       227 non-null    int64
 7   last_edited_by           227 non-null    int64
 8   last_edited_when         227 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), str(1)
memory usage: 16.8 KB
None
..\data\silver\dimensions\stock_items.parquet
<class 'pandas.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   stock_item_id             227 non-null    int64
 1   stock_item_name           227 non-null    str
 2   supplier_id               227 non-null    int64
 3   color_id                  128 non-null    Int64
 4   unit_package_id           227 non-null    int64
 5   outer_package_id          227 non-null    int64
 6   brand                     18 non-null     str
 7   size                      163 non-null    str
 8   lead_time_days            227 non-null    int64
 9   quantity_per_outer        227 non-null    int64
 10  is_chiller_stock          227 non-null    int64
 11  barcode                   8 non-null      str
 12  tax_rate                  227 non-null    float64
 13  unit_price                227 non-null    float64
 14  recommended_retail_price  227 non-null    float64
 15  typical_weight_per_unit   227 non-null    float64
 16  marketing_comments        28 non-null     str
 17  custom_fields             227 non-null    str
 18  tags                      227 non-null    str
 19  search_details            227 non-null    str
 20  last_edited_by            227 non-null    int64
 21  valid_from                227 non-null    datetime64[ns]
 22  valid_to                  0 non-null      datetime64[ns]
dtypes: Int64(1), datetime64[ns](2), float64(4), int64(8), str(8)
memory usage: 81.0 KB
None
..\data\silver\dimensions\transaction_types.parquet
<class 'pandas.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   transaction_type_id    13 non-null     int64
 1   transaction_type_name  13 non-null     str
 2   last_edited_by         13 non-null     int64
 3   valid_from             13 non-null     datetime64[ns]
 4   valid_to               0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), str(1)
memory usage: 884.0 bytes
None
..\data\silver\purchasing\purchase_order_lines.parquet
<class 'pandas.DataFrame'>
RangeIndex: 4759 entries, 0 to 4758
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   purchase_order_line_id         4759 non-null   int64
 1   purchase_order_id              4759 non-null   int64
 2   stock_item_id                  4759 non-null   int64
 3   ordered_outers                 4759 non-null   int64
 4   description                    4759 non-null   str
 5   received_outers                4759 non-null   int64
 6   package_type_id                4759 non-null   int64
 7   expected_unit_price_per_outer  4759 non-null   float64
 8   last_receipt_date              4759 non-null   datetime64[ns]
 9   is_order_line_finalized        4759 non-null   int64
 10  last_edited_by                 4759 non-null   int64
 11  last_edited_when               4759 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(8), str(1)
memory usage: 646.3 KB
None
..\data\silver\purchasing\purchase_orders.parquet
<class 'pandas.DataFrame'>
RangeIndex: 1207 entries, 0 to 1206
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   purchase_order_id       1207 non-null   int64
 1   supplier_id             1207 non-null   int64
 2   order_date              1207 non-null   datetime64[ns]
 3   delivery_method_id      1207 non-null   int64
 4   contact_person_id       1207 non-null   int64
 5   expected_delivery_date  1207 non-null   datetime64[ns]
 6   supplier_reference      1207 non-null   str
 7   is_order_finalized      1207 non-null   int64
 8   last_edited_by          1207 non-null   int64
 9   last_edited_when        1207 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(6), str(1)
memory usage: 103.2 KB
None
..\data\silver\purchasing\supplier_transactions.parquet
<class 'pandas.DataFrame'>
RangeIndex: 2438 entries, 0 to 2437
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   supplier_transaction_id  2438 non-null   int64
 1   supplier_id              2438 non-null   int64
 2   transaction_type_id      2438 non-null   int64
 3   purchase_order_id        2072 non-null   Int64
 4   payment_method_id        2438 non-null   int64
 5   supplier_invoice_number  2072 non-null   Int64
 6   transaction_date         2438 non-null   datetime64[ns]
 7   amount_excluding_tax     2438 non-null   float64
 8   tax_amount               2438 non-null   float64
 9   transaction_amount       2438 non-null   float64
 10  outstanding_balance      2438 non-null   float64
 11  finalization_date        2436 non-null   datetime64[ns]
 12  is_finalized             2438 non-null   int64
 13  last_edited_by           2438 non-null   int64
 14  last_edited_when         2438 non-null   datetime64[ns]
dtypes: Int64(2), datetime64[ns](3), float64(4), int64(6)
memory usage: 290.6 KB
None
..\data\silver\purchasing\suppliers.parquet
<class 'pandas.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   supplier_id                  13 non-null     int64
 1   supplier_name                13 non-null     str
 2   supplier_category_id         13 non-null     int64
 3   primary_contact_person_id    13 non-null     int64
 4   alternate_contact_person_id  13 non-null     int64
 5   delivery_method_id           9 non-null      Int64
 6   delivery_city_id             13 non-null     int64
 7   postal_city_id               13 non-null     int64
 8   supplier_reference           13 non-null     str
 9   bank_account_name            13 non-null     str
 10  bank_account_branch          13 non-null     str
 11  bank_account_code            13 non-null     int64
 12  bank_account_number          13 non-null     int64
 13  bank_international_code      13 non-null     int64
 14  payment_days                 13 non-null     int64
 15  internal_comments            2 non-null      str
 16  phone_number                 13 non-null     str
 17  fax_number                   13 non-null     str
 18  website_url                  13 non-null     str
 19  delivery_address_line1       9 non-null      str
 20  delivery_address_line2       13 non-null     str
 21  delivery_postal_code         13 non-null     int64
 22  delivery_location            13 non-null     str
 23  postal_address_line1         13 non-null     str
 24  postal_address_line2         13 non-null     str
 25  postal_postal_code           13 non-null     int64
 26  last_edited_by               13 non-null     int64
 27  valid_from                   13 non-null     datetime64[ns]
 28  valid_to                     0 non-null      datetime64[ns]
dtypes: Int64(1), datetime64[ns](2), int64(13), str(13)
memory usage: 5.9 KB
None
..\data\silver\sales\customers.parquet
<class 'pandas.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   625 non-null    int64
 1   customer_name                 625 non-null    str
 2   bill_to_customer_id           625 non-null    int64
 3   customer_category_id          625 non-null    int64
 4   buying_group_id               402 non-null    Int64
 5   primary_contact_person_id     625 non-null    int64
 6   alternate_contact_person_id   402 non-null    Int64
 7   delivery_method_id            625 non-null    int64
 8   delivery_city_id              625 non-null    int64
 9   postal_city_id                625 non-null    int64
 10  credit_limit                  223 non-null    float64
 11  account_opened_date           625 non-null    datetime64[ns]
 12  standard_discount_percentage  625 non-null    float64
 13  is_statement_sent             625 non-null    int64
 14  is_on_credit_hold             625 non-null    int64
 15  payment_days                  625 non-null    int64
 16  phone_number                  625 non-null    str
 17  fax_number                    625 non-null    str
 18  website_url                   625 non-null    str
 19  delivery_address_line1        625 non-null    str
 20  delivery_address_line2        625 non-null    str
 21  delivery_postal_code          625 non-null    int64
 22  delivery_location             625 non-null    str
 23  postal_address_line1          625 non-null    str
 24  postal_address_line2          625 non-null    str
 25  postal_postal_code            625 non-null    int64
 26  last_edited_by                625 non-null    int64
 27  valid_from                    625 non-null    datetime64[ns]
 28  valid_to                      0 non-null      datetime64[ns]
dtypes: Int64(2), datetime64[ns](3), float64(2), int64(13), str(9)
memory usage: 253.9 KB
None
..\data\silver\sales\invoice_lines.parquet
<class 'pandas.DataFrame'>
RangeIndex: 126909 entries, 0 to 126908
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   invoice_line_id   126909 non-null  int64
 1   invoice_id        126909 non-null  int64
 2   stock_item_id     126909 non-null  int64
 3   description       126909 non-null  str
 4   package_type_id   126909 non-null  int64
 5   quantity          126909 non-null  int64
 6   unit_price        126909 non-null  float64
 7   tax_rate          126909 non-null  float64
 8   tax_amount        126909 non-null  float64
 9   line_profit       126909 non-null  float64
 10  extended_price    126909 non-null  float64
 11  last_edited_by    126909 non-null  int64
 12  last_edited_when  126909 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(6), str(1)
memory usage: 17.7 MB
None
..\data\silver\sales\invoices.parquet
<class 'pandas.DataFrame'>
RangeIndex: 38991 entries, 0 to 38990
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice_id               38991 non-null  int64
 1   customer_id              38991 non-null  int64
 2   bill_to_customer_id      38991 non-null  int64
 3   order_id                 38991 non-null  int64
 4   delivery_method_id       38991 non-null  int64
 5   contact_person_id        38991 non-null  int64
 6   accounts_person_id       38991 non-null  int64
 7   salesperson_id           38991 non-null  int64
 8   packed_by_id             38991 non-null  int64
 9   invoice_date             38991 non-null  datetime64[ns]
 10  customer_po_number       38991 non-null  int64
 11  is_credit_note           38991 non-null  int64
 12  delivery_instructions    38991 non-null  str
 13  total_dry_items          38991 non-null  int64
 14  total_chiller_items      38991 non-null  int64
 15  returned_delivery_data   38991 non-null  str
 16  confirmed_delivery_time  38991 non-null  datetime64[ns]
 17  confirmed_received_by    38991 non-null  str
 18  last_edited_by           38991 non-null  int64
 19  last_edited_when         38991 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(14), str(3)
memory usage: 20.3 MB
None
..\data\silver\sales\order_lines.parquet
<class 'pandas.DataFrame'>
RangeIndex: 128144 entries, 0 to 128143
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_line_id           128144 non-null  int64
 1   order_id                128144 non-null  int64
 2   stock_item_id           128144 non-null  int64
 3   description             128144 non-null  str
 4   package_type_id         128144 non-null  int64
 5   quantity                128144 non-null  int64
 6   unit_price              128144 non-null  float64
 7   tax_rate                128144 non-null  float64
 8   picked_quantity         128144 non-null  int64
 9   picking_completed_when  126909 non-null  datetime64[ns]
 10  last_edited_by          128144 non-null  int64
 11  last_edited_when        128144 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(7), str(1)
memory usage: 16.9 MB
None