# Imports

In [ ]:
import pandas as pd
from pathlib import Path

# Read all data

In [15]:
# Data loading configuration
data_files = {
    # 2013-2014 data
    "cities": "../data/bronze/2013-2014/application.cities.csv",
    "countries": "../data/bronze/2013-2014/application.countries.csv",
    "deliverymethods": "../data/bronze/2013-2014/application.deliverymethods.csv",
    "paymentmethod": "../data/bronze/2013-2014/application.paymentmethod.csv",
    "people": "../data/bronze/2013-2014/application.people.csv",
    "province": "../data/bronze/2013-2014/application.province.csv",
    "transactiontypes": "../data/bronze/2013-2014/application.transactiontypes.csv",
    "purchase_order": "../data/bronze/2013-2014/purchase.order.csv",
    "purchase_orderline": "../data/bronze/2013-2014/purchase.orderline.csv",
    "suppliers": "../data/bronze/2013-2014/purchasing.suppliers.csv",
    "supplierstransactions": "../data/bronze/2013-2014/purchasing.supplierstransactions.csv",
    "customer": "../data/bronze/2013-2014/sales.customer.csv",
    "invoiceslines": "../data/bronze/2013-2014/sales.incvoiceslines.csv",
    "invoices": "../data/bronze/2013-2014/sales.invoices.csv",
    "sales_order": "../data/bronze/2013-2014/sales.order.csv",
    "sales_orderline": "../data/bronze/2013-2014/sales.orderline.csv",
    "colors": "../data/bronze/2013-2014/warehouse.colors.csv",
    "packagetypes": "../data/bronze/2013-2014/warehouse.packagetypes.csv",
    "stockgroups": "../data/bronze/2013-2014/warehouse.stockgroups.csv",
    "stockitemholdings": "../data/bronze/2013-2014/warehouse.stockitemholdings.csv",
    "stockitems": "../data/bronze/2013-2014/warehouse.stockitems.csv",
    # Upcoming data
    "people_next": "../data/bronze/upcoming/application.people.csv",
    "purchase_order_next": "../data/bronze/upcoming/purchase.order.csv",
    "purchase_orderline_next": "../data/bronze/upcoming/purchase.orderline.csv",
    "customer_next": "../data/bronze/upcoming/sales.customer.csv",
    "invoiceslines_next": "../data/bronze/upcoming/sales.incvoiceslines.csv",
    "invoices_next": "../data/bronze/upcoming/sales.invoices.csv",
    "sales_order_next": "../data/bronze/upcoming/sales.order.csv",
    "sales_orderline_next": "../data/bronze/upcoming/sales.orderline.csv",
}

for name, filepath in data_files.items():
    globals()[f"df_{name}"] = pd.read_csv(filepath)

# Exploriation First Ingest Data

In [39]:
# Describe loop for all DataFrames (2013-2014 only)
bronze_2013_2014_tables = {k: v for k, v in globals().items() if k.startswith('df_') and not k.endswith('_next') and isinstance(v, pd.DataFrame)}

print(f"\n{'='*80}")
print(f"INFO FOR ALL TABLES ({len(bronze_2013_2014_tables)} tables)")
print(f"{'='*80}\n")

for table_name, df in sorted(bronze_2013_2014_tables.items()):
    table_label = table_name.replace('df_', '')
    print(f"\n{'─'*80}")
    print(f"{table_label.upper()}")
    print(df.info())

================================================================================
INFO FOR ALL TABLES (21 tables)
================================================================================


────────────────────────────────────────────────────────────────────────────────
CITIES
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 37940 entries, 0 to 37939
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CityID                    37940 non-null  int64
 1   CityName                  37940 non-null  str
 2   StateProvinceID           37940 non-null  int64
 3   Location                  37940 non-null  str
 4   LatestRecordedPopulation  26892 non-null  float64
 5   LastEditedBy              37940 non-null  int64
 6   ValidFrom                 37940 non-null  str
 7   ValidTo                   37940 non-null  str
dtypes: float64(1), int64(3), str(4)
memory usage: 6.2 MB
None

────────────────────────────────────────────────────────────────────────────────
COLORS
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ColorID       36 non-null     int64
 1   ColorName     36 non-null     str
 2   LastEditedBy  36 non-null     int64
 3   ValidFrom     36 non-null     str
 4   ValidTo       36 non-null     str
dtypes: int64(2), str(3)
memory usage: 3.7 KB
None

────────────────────────────────────────────────────────────────────────────────
COUNTRIES
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CountryID                 190 non-null    int64
 1   CountryName               190 non-null    str
 2   FormalName                190 non-null    str
 3   IsoAlpha3Code             190 non-null    str
 4   IsoNumericCode            190 non-null    int64
 5   CountryType               190 non-null    str
 6   LatestRecordedPopulation  190 non-null    int64
 7   Continent                 190 non-null    str
 8   Region                    190 non-null    str
 9   Subregion                 190 non-null    str
 10  Border                    190 non-null    str
 11  LastEditedBy              190 non-null    int64
 12  ValidFrom                 190 non-null    str
 13  ValidTo                   190 non-null    str
dtypes: int64(4), str(10)
memory usage: 2.2 MB
None

────────────────────────────────────────────────────────────────────────────────
CUSTOMER
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  625 non-null    int64
 1   CustomerName                625 non-null    str
 2   BillToCustomerID            625 non-null    int64
 3   CustomerCategoryID          625 non-null    int64
 4   BuyingGroupID               402 non-null    float64
 5   PrimaryContactPersonID      625 non-null    int64
 6   AlternateContactPersonID    402 non-null    float64
 7   DeliveryMethodID            625 non-null    int64
 8   DeliveryCityID              625 non-null    int64
 9   PostalCityID                625 non-null    int64
 10  CreditLimit                 223 non-null    float64
 11  AccountOpenedDate           625 non-null    str
 12  StandardDiscountPercentage  625 non-null    float64
 13  IsStatementSent             625 non-null    int64
 14  IsOnCreditHold              625 non-null    int64
 15  PaymentDays                 625 non-null    int64
 16  PhoneNumber                 625 non-null    str
 17  FaxNumber                   625 non-null    str
 18  DeliveryRun                 0 non-null      float64
 19  RunPosition                 0 non-null      float64
 20  WebsiteURL                  625 non-null    str
 21  DeliveryAddressLine1        625 non-null    str
 22  DeliveryAddressLine2        625 non-null    str
 23  DeliveryPostalCode          625 non-null    int64
 24  DeliveryLocation            625 non-null    str
 25  PostalAddressLine1          625 non-null    str
 26  PostalAddressLine2          625 non-null    str
 27  PostalPostalCode            625 non-null    int64
 28  LastEditedBy                625 non-null    int64
 29  ValidFrom                   625 non-null    str
 30  ValidTo                     625 non-null    str
 31  ValidFrom_parsed            625 non-null    str
dtypes: float64(6), int64(13), str(13)
memory usage: 322.2 KB
None

────────────────────────────────────────────────────────────────────────────────
DELIVERYMETHODS
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DeliveryMethodID    10 non-null     int64
 1   DeliveryMethodName  10 non-null     str
 2   LastEditedBy        10 non-null     int64
 3   ValidFrom           10 non-null     str
 4   ValidTo             10 non-null     str
dtypes: int64(2), str(3)
memory usage: 1.2 KB
None

────────────────────────────────────────────────────────────────────────────────
INVOICES
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 38991 entries, 0 to 38990
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   InvoiceID                    38991 non-null  int64
 1   CustomerID                   38991 non-null  int64
 2   BillToCustomerID             38991 non-null  int64
 3   OrderID                      38991 non-null  int64
 4   DeliveryMethodID             38991 non-null  int64
 5   ContactPersonID              38991 non-null  int64
 6   AccountsPersonID             38991 non-null  int64
 7   SalespersonPersonID          38991 non-null  int64
 8   PackedByPersonID             38991 non-null  int64
 9   InvoiceDate                  38991 non-null  str
 10  CustomerPurchaseOrderNumber  38991 non-null  int64
 11  IsCreditNote                 38991 non-null  int64
 12  CreditNoteReason             0 non-null      float64
 13  Comments                     0 non-null      float64
 14  DeliveryInstructions         38991 non-null  str
 15  InternalComments             0 non-null      float64
 16  TotalDryItems                38991 non-null  int64
 17  TotalChillerItems            38991 non-null  int64
 18  DeliveryRun                  0 non-null      float64
 19  RunPosition                  0 non-null      float64
 20  ReturnedDeliveryData         38991 non-null  str
 21  ConfirmedDeliveryTime        38991 non-null  str
 22  ConfirmedReceivedBy          38991 non-null  str
 23  LastEditedBy                 38991 non-null  int64
 24  LastEditedWhen               38991 non-null  str
 25  LastEditedWhen_parsed        38991 non-null  str
dtypes: float64(5), int64(14), str(7)
memory usage: 25.5 MB
None

────────────────────────────────────────────────────────────────────────────────
INVOICESLINES
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 126909 entries, 0 to 126908
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   InvoiceLineID          126909 non-null  int64
 1   InvoiceID              126909 non-null  int64
 2   StockItemID            126909 non-null  int64
 3   Description            126909 non-null  str
 4   PackageTypeID          126909 non-null  int64
 5   Quantity               126909 non-null  int64
 6   UnitPrice              126909 non-null  float64
 7   TaxRate                126909 non-null  float64
 8   TaxAmount              126909 non-null  float64
 9   LineProfit             126909 non-null  float64
 10  ExtendedPrice          126909 non-null  float64
 11  LastEditedBy           126909 non-null  int64
 12  LastEditedWhen         126909 non-null  str
 13  LastEditedWhen_parsed  126909 non-null  str
dtypes: float64(5), int64(6), str(3)
memory usage: 25.1 MB
None

────────────────────────────────────────────────────────────────────────────────
PACKAGETYPES
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PackageTypeID    14 non-null     int64
 1   PackageTypeName  14 non-null     str
 2   LastEditedBy     14 non-null     int64
 3   ValidFrom        14 non-null     str
 4   ValidTo          14 non-null     str
dtypes: int64(2), str(3)
memory usage: 1.5 KB
None

────────────────────────────────────────────────────────────────────────────────
PAYMENTMETHOD
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PaymentMethodID    4 non-null      int64
 1   PaymentMethodName  4 non-null      str
 2   LastEditedBy       4 non-null      int64
 3   ValidFrom          4 non-null      str
 4   ValidTo            4 non-null      str
dtypes: int64(2), str(3)
memory usage: 531.0 bytes
None

────────────────────────────────────────────────────────────────────────────────
PEOPLE
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PersonID                 906 non-null    int64
 1   FullName                 906 non-null    str
 2   PreferredName            906 non-null    str
 3   SearchName               906 non-null    str
 4   IsPermittedToLogon       906 non-null    int64
 5   LogonName                906 non-null    str
 6   IsExternalLogonProvider  906 non-null    int64
 7   HashedPassword           0 non-null      float64
 8   IsSystemUser             906 non-null    int64
 9   IsEmployee               906 non-null    int64
 10  IsSalesperson            906 non-null    int64
 11  UserPreferences          0 non-null      float64
 12  PhoneNumber              906 non-null    str
 13  FaxNumber                906 non-null    str
 14  EmailAddress             906 non-null    str
 15  Photo                    0 non-null      float64
 16  CustomFields             0 non-null      float64
 17  OtherLanguages           0 non-null      float64
 18  LastEditedBy             906 non-null    int64
 19  ValidFrom                906 non-null    str
 20  ValidTo                  906 non-null    str
 21  ValidFrom_parsed         906 non-null    str
dtypes: float64(5), int64(7), str(10)
memory usage: 313.7 KB
None

────────────────────────────────────────────────────────────────────────────────
PROVINCE
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   StateProvinceID           53 non-null     int64
 1   StateProvinceCode         53 non-null     str
 2   StateProvinceName         53 non-null     str
 3   CountryID                 53 non-null     int64
 4   SalesTerritory            53 non-null     str
 5   Border                    52 non-null     str
 6   LatestRecordedPopulation  53 non-null     int64
 7   LastEditedBy              53 non-null     int64
 8   ValidFrom                 53 non-null     str
 9   ValidTo                   53 non-null     str
dtypes: int64(4), str(6)
memory usage: 436.5 KB
None

────────────────────────────────────────────────────────────────────────────────
PURCHASE_ORDER
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 1207 entries, 0 to 1206
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PurchaseOrderID        1207 non-null   int64
 1   SupplierID             1207 non-null   int64
 2   OrderDate              1207 non-null   str
 3   DeliveryMethodID       1207 non-null   int64
 4   ContactPersonID        1207 non-null   int64
 5   ExpectedDeliveryDate   1207 non-null   str
 6   SupplierReference      1207 non-null   str
 7   IsOrderFinalized       1207 non-null   int64
 8   Comments               0 non-null      float64
 9   InternalComments       0 non-null      float64
 10  LastEditedBy           1207 non-null   int64
 11  LastEditedWhen         1207 non-null   str
 12  LastEditedWhen_parsed  1207 non-null   str
dtypes: float64(2), int64(6), str(5)
memory usage: 217.5 KB
None

────────────────────────────────────────────────────────────────────────────────
PURCHASE_ORDERLINE
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 4759 entries, 0 to 4758
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PurchaseOrderLineID        4759 non-null   int64
 1   PurchaseOrderID            4759 non-null   int64
 2   StockItemID                4759 non-null   int64
 3   OrderedOuters              4759 non-null   int64
 4   Description                4759 non-null   str
 5   ReceivedOuters             4759 non-null   int64
 6   PackageTypeID              4759 non-null   int64
 7   ExpectedUnitPricePerOuter  4759 non-null   float64
 8   LastReceiptDate            4759 non-null   str
 9   IsOrderLineFinalized       4759 non-null   int64
 10  LastEditedBy               4759 non-null   int64
 11  LastEditedWhen             4759 non-null   str
 12  LastEditedWhen_parsed      4759 non-null   str
dtypes: float64(1), int64(8), str(4)
memory usage: 976.2 KB
None

────────────────────────────────────────────────────────────────────────────────
SALES_ORDER
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 40286 entries, 0 to 40285
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   OrderID                      40286 non-null  int64
 1   CustomerID                   40286 non-null  int64
 2   SalespersonPersonID          40286 non-null  int64
 3   PickedByPersonID             35032 non-null  float64
 4   ContactPersonID              40286 non-null  int64
 5   BackorderOrderID             4038 non-null   float64
 6   OrderDate                    40286 non-null  str
 7   ExpectedDeliveryDate         40286 non-null  str
 8   CustomerPurchaseOrderNumber  40286 non-null  int64
 9   IsUndersupplyBackordered     40286 non-null  int64
 10  Comments                     0 non-null      float64
 11  DeliveryInstructions         0 non-null      float64
 12  InternalComments             0 non-null      float64
 13  PickingCompletedWhen         39070 non-null  str
 14  LastEditedBy                 40286 non-null  int64
 15  LastEditedWhen               40286 non-null  str
 16  LastEditedWhen_parsed        40286 non-null  str
dtypes: float64(5), int64(7), str(5)
memory usage: 9.0 MB
None

────────────────────────────────────────────────────────────────────────────────
SALES_ORDERLINE
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 128144 entries, 0 to 128143
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   OrderLineID            128144 non-null  int64
 1   OrderID                128144 non-null  int64
 2   StockItemID            128144 non-null  int64
 3   Description            128144 non-null  str
 4   PackageTypeID          128144 non-null  int64
 5   Quantity               128144 non-null  int64
 6   UnitPrice              128144 non-null  float64
 7   TaxRate                128144 non-null  float64
 8   PickedQuantity         128144 non-null  int64
 9   PickingCompletedWhen   126909 non-null  str
 10  LastEditedBy           128144 non-null  int64
 11  LastEditedWhen         128144 non-null  str
 12  LastEditedWhen_parsed  128144 non-null  str
dtypes: float64(2), int64(7), str(4)
memory usage: 27.6 MB
None

────────────────────────────────────────────────────────────────────────────────
STOCKGROUPS
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StockGroupID    10 non-null     int64
 1   StockGroupName  10 non-null     str
 2   LastEditedBy    10 non-null     int64
 3   ValidFrom       10 non-null     str
 4   ValidTo         10 non-null     str
dtypes: int64(2), str(3)
memory usage: 1.2 KB
None

────────────────────────────────────────────────────────────────────────────────
STOCKITEMHOLDINGS
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StockItemID            227 non-null    int64
 1   QuantityOnHand         227 non-null    int64
 2   BinLocation            227 non-null    str
 3   LastStocktakeQuantity  227 non-null    int64
 4   LastCostPrice          227 non-null    float64
 5   ReorderLevel           227 non-null    int64
 6   TargetStockLevel       227 non-null    int64
 7   LastEditedBy           227 non-null    int64
 8   LastEditedWhen         227 non-null    str
dtypes: float64(1), int64(6), str(2)
memory usage: 22.8 KB
None

────────────────────────────────────────────────────────────────────────────────
STOCKITEMS
────────────────────────────────────────────────────────────────────────────────
<class 'pandas.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   StockItemID             227 non-null    int64
 1   StockItemName           227 non-null    str
 2   SupplierID              227 non-null    int64
 3   ColorID                 128 non-null    float64
 4   UnitPackageID           227 non-null    int64
 5   OuterPackageID          227 non-null    int64
 6   Brand                   18 non-null     str
 7   Size                    163 non-null    str
 8   LeadTimeDays            227 non-null    int64
 9   QuantityPerOuter        227 non-null    int64
 10  IsChillerStock          227 non-null    int64
 11  Barcode                 8 non-null      float64
 12  TaxRate                 227 non-null    float64
 13  UnitPrice               227 non-null    float64
 14  RecommendedRetailPrice  227 non-null    float64
 15  TypicalWeightPerUnit    227 non-null    float64
 16  MarketingComments       28 non-null     str
 17  InternalComments        0 non-null      float64

In [40]:
# First 5 rowsw
for table_name, df in sorted(bronze_2013_2014_tables.items()):
    table_label = table_name.replace('df_', '')
    print(f"\n{'─'*80}")
    print(f"{table_label.upper()}")
    display(df.head(5))
    print(f"Shape: {df.shape[0]:,} rows × {df.shape[1]} columns")

────────────────────────────────────────────────────────────────────────────────
CITIES

,CityID,CityName,StateProvinceID,Location,LatestRecordedPopulation,LastEditedBy,ValidFrom,ValidTo
0,1,Aaronsburg,39,0xE6100000010C07E11B542C73444087C09140035D53C0,613.0,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,3,Abanda,1,0xE6100000010C4033880FEC8C4040EFBF3A33E66155C0,192.0,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,4,Abbeville,42,0xE6100000010C79C83956CE164140CCAC4AC7419854C0,5237.0,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,5,Abbeville,11,0xE6100000010CDE2120BAFBFD3F408F876302A3D354C0,2908.0,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,6,Abbeville,1,0xE6100000010C9DB3AACA63923F40DEDF4504085055C0,2688.0,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 37,940 rows × 8 columns

────────────────────────────────────────────────────────────────────────────────
COLORS

,ColorID,ColorName,LastEditedBy,ValidFrom,ValidTo
0,1,Azure,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Beige,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Black,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,Blue,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,Charcoal,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 36 rows × 5 columns

────────────────────────────────────────────────────────────────────────────────
COUNTRIES

,CountryID,CountryName,FormalName,IsoAlpha3Code,IsoNumericCode,CountryType,LatestRecordedPopulation,Continent,Region,Subregion,Border,LastEditedBy,ValidFrom,ValidTo
0,1,Afghanistan,Islamic State of Afghanistan,AFG,4,UN Member State,28400000,Asia,Asia,Southern Asia,0xE610000001049A01000066666666A69D424034333333...,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,3,Albania,Republic of Albania,ALB,8,UN Member State,3785031,Europe,Europe,Southern Europe,0xE6100000010471000000CCCCCCCC0C46454000000000...,20,2013-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
2,4,Algeria,People's Democratic Republic of Algeria,DZA,12,UN Member State,34178188,Africa,Africa,Northern Africa,0xE610000001047D01000066666666F677424040333333...,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,6,Andorra,Principality of Andorra,AND,20,UN Member State,87243,Europe,Europe,Southern Europe,0xE6100000010413000000CCCCCCCC6C40454000000000...,15,2015-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
4,7,Angola,People's Republic of Angola,AGO,24,UN Member State,12799293,Africa,Africa,Middle Africa,0xE610000001045201000000000000008117C060333333...,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 190 rows × 14 columns

────────────────────────────────────────────────────────────────────────────────
CUSTOMER

,CustomerID,CustomerName,BillToCustomerID,CustomerCategoryID,BuyingGroupID,PrimaryContactPersonID,AlternateContactPersonID,DeliveryMethodID,DeliveryCityID,PostalCityID,...,DeliveryAddressLine2,DeliveryPostalCode,DeliveryLocation,PostalAddressLine1,PostalAddressLine2,PostalPostalCode,LastEditedBy,ValidFrom,ValidTo,ValidFrom_parsed
0,1,Tailspin Toys (Head Office),1,3,1.0,1001,1002.0,3,19586,19586,...,1877 Mittal Road,90410,0xE6100000010CE73F5A52A4BF444010638852B1A759C0,PO Box 8975,Ribeiroville,90410,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
1,2,"Tailspin Toys (Sylvanite, MT)",1,3,1.0,1003,1004.0,3,33475,33475,...,705 Dita Lane,90216,0xE6100000010CF37A8BE2B05B4840056FA35CF5F75CC0,PO Box 259,Jogiville,90216,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
2,3,"Tailspin Toys (Peeples Valley, AZ)",1,3,1.0,1005,1006.0,3,26483,26483,...,1970 Khandke Road,90205,0xE6100000010CC97553CA6B2241404FACF82B892E5CC0,PO Box 3648,Lucescuville,90205,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
3,4,"Tailspin Toys (Medicine Lodge, KS)",1,3,1.0,1007,1008.0,3,21692,21692,...,967 Riutta Boulevard,90152,0xE6100000010C02261532FCA34240EDB776A224A558C0,PO Box 5065,Maciasville,90152,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
4,5,"Tailspin Toys (Gasport, NY)",1,3,1.0,1009,1010.0,3,12748,12748,...,1674 Skujins Boulevard,90261,0xE6100000010C5948652F80994540F93BCA77DFA453C0,PO Box 6294,Kellnerovaville,90261,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000

Shape: 625 rows × 32 columns

────────────────────────────────────────────────────────────────────────────────
DELIVERYMETHODS

,DeliveryMethodID,DeliveryMethodName,LastEditedBy,ValidFrom,ValidTo
0,1,Post,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Courier,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Delivery Van,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,Customer Collect,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,Chilled Van,16,2015-01-01 16:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 10 rows × 5 columns

────────────────────────────────────────────────────────────────────────────────
INVOICES

,InvoiceID,CustomerID,BillToCustomerID,OrderID,DeliveryMethodID,ContactPersonID,AccountsPersonID,SalespersonPersonID,PackedByPersonID,InvoiceDate,...,TotalDryItems,TotalChillerItems,DeliveryRun,RunPosition,ReturnedDeliveryData,ConfirmedDeliveryTime,ConfirmedReceivedBy,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,832,832,1,3,3032,3032,2,14,2013-01-01,...,1,0,NaN,NaN,"{""Events"": [{ ""Event"":""Ready for collection"",""...",2013-01-02 07:05:00.0000000,Aakriti Byrraju,15,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
1,2,803,803,2,3,3003,3003,8,14,2013-01-01,...,2,0,NaN,NaN,"{""Events"": [{ ""Event"":""Ready for collection"",""...",2013-01-02 07:10:00.0000000,Bala Dixit,15,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
2,3,105,1,3,3,1209,1001,7,14,2013-01-01,...,1,0,NaN,NaN,"{""Events"": [{ ""Event"":""Ready for collection"",""...",2013-01-02 07:15:00.0000000,Sung-Hwan Hwang,15,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
3,4,57,1,4,3,1113,1001,16,14,2013-01-01,...,3,0,NaN,NaN,"{""Events"": [{ ""Event"":""Ready for collection"",""...",2013-01-02 07:20:00.0000000,Aile Mae,15,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
4,5,905,905,5,3,3105,3105,3,14,2013-01-01,...,3,0,NaN,NaN,"{""Events"": [{ ""Event"":""Ready for collection"",""...",2013-01-02 07:25:00.0000000,Sara Huiting,15,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000

Shape: 38,991 rows × 26 columns

────────────────────────────────────────────────────────────────────────────────
INVOICESLINES

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,1,67,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15.0,345.00,850.0,2645.00,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
1,2,2,50,Developer joke mug - old C developers never di...,7,9,13.0,15.0,17.55,76.5,134.55,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
2,3,2,10,USB food flash drive - chocolate bar,7,9,32.0,15.0,43.20,180.0,331.20,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
3,4,3,114,Superhero action jacket (Blue) XXL,7,3,30.0,15.0,13.50,24.0,103.50,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
4,5,4,206,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15.0,38.88,96.0,298.08,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000

Shape: 126,909 rows × 14 columns

────────────────────────────────────────────────────────────────────────────────
PACKAGETYPES

,PackageTypeID,PackageTypeName,LastEditedBy,ValidFrom,ValidTo
0,1,Bag,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Block,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Bottle,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,Box,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,Can,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 14 rows × 5 columns

────────────────────────────────────────────────────────────────────────────────
PAYMENTMETHOD

,PaymentMethodID,PaymentMethodName,LastEditedBy,ValidFrom,ValidTo
0,1,Cash,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Check,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Credit-Card,9,2016-01-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,EFT,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 4 rows × 5 columns

────────────────────────────────────────────────────────────────────────────────
PEOPLE

,PersonID,FullName,PreferredName,SearchName,IsPermittedToLogon,LogonName,IsExternalLogonProvider,HashedPassword,IsSystemUser,IsEmployee,...,PhoneNumber,FaxNumber,EmailAddress,Photo,CustomFields,OtherLanguages,LastEditedBy,ValidFrom,ValidTo,ValidFrom_parsed
0,1002,Laimonis Berzins,Laimonis,Laimonis Laimonis Berzins,0,NO LOGON,0,NaN,0,0,...,(308) 555-0100,(308) 555-0101,laimonis@tailspintoys.com,NaN,NaN,NaN,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
1,1003,Lorena Cindric,Lorena,Lorena Lorena Cindric,0,NO LOGON,0,NaN,0,0,...,(406) 555-0100,(406) 555-0101,lorena@tailspintoys.com,NaN,NaN,NaN,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
2,1004,Hung Van Groesen,Hung,Hung Hung Van Groesen,0,NO LOGON,0,NaN,0,0,...,(406) 555-0100,(406) 555-0101,hung@tailspintoys.com,NaN,NaN,NaN,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
3,1005,Bhaargav Rambhatla,Bhaargav,Bhaargav Bhaargav Rambhatla,0,NO LOGON,0,NaN,0,0,...,(480) 555-0100,(480) 555-0101,bhaargav@tailspintoys.com,NaN,NaN,NaN,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000
4,1006,Mudar Jevtic,Mudar,Mudar Mudar Jevtic,0,NO LOGON,0,NaN,0,0,...,(480) 555-0100,(480) 555-0101,mudar@tailspintoys.com,NaN,NaN,NaN,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999,2013-01-01T00:00:00.000000

Shape: 906 rows × 22 columns

────────────────────────────────────────────────────────────────────────────────
PROVINCE

,StateProvinceID,StateProvinceCode,StateProvinceName,CountryID,SalesTerritory,Border,LatestRecordedPopulation,LastEditedBy,ValidFrom,ValidTo
0,1,AL,Alabama,230,Southeast,0xE61000000104B600000057BB58BAD3E43F403277EE90...,5437278,15,2015-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,AK,Alaska,230,Far West,0xE61000000104DB080000C760C5A9D6FC49403C9F01F5...,735132,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999
2,3,AZ,Arizona,230,Southwest,0xE6100000010499000000029CDEC5FB4B4040B30A9B01...,6891688,8,2014-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,AR,Arkansas,230,Southeast,0xE61000000104DB000000109546CCEC3F4240EE2422FC...,3077747,8,2014-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,CA,California,230,Far West,0xE61000000104D3010000D860E124CDBB40409F758D96...,41460453,15,2015-07-01 16:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 53 rows × 10 columns

────────────────────────────────────────────────────────────────────────────────
PURCHASE_ORDER

,PurchaseOrderID,SupplierID,OrderDate,DeliveryMethodID,ContactPersonID,ExpectedDeliveryDate,SupplierReference,IsOrderFinalized,Comments,InternalComments,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,2,2013-01-01,9,2,2013-01-15,B2084020,1,NaN,NaN,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
1,2,4,2013-01-01,7,2,2013-01-15,293092,1,NaN,NaN,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
2,3,5,2013-01-01,10,2,2013-01-15,08803922,1,NaN,NaN,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
3,4,7,2013-01-01,2,2,2013-01-15,BC0280982,1,NaN,NaN,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
4,5,10,2013-01-01,8,2,2013-01-15,ML0300202,1,NaN,NaN,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000

Shape: 1,207 rows × 13 columns

────────────────────────────────────────────────────────────────────────────────
PURCHASE_ORDERLINE

,PurchaseOrderLineID,PurchaseOrderID,StockItemID,OrderedOuters,Description,ReceivedOuters,PackageTypeID,ExpectedUnitPricePerOuter,LastReceiptDate,IsOrderLineFinalized,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,1,150,18,Pack of 12 action figures (variety),18,9,5.5,2013-01-02,1,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
1,2,1,151,21,Pack of 12 action figures (male),21,9,5.5,2013-01-02,1,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
2,3,1,152,18,Pack of 12 action figures (female),18,9,5.5,2013-01-02,1,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
3,4,2,76,8,"""The Gu"" red shirt XML tag t-shirt (White) 3XS",8,6,84.0,2013-01-02,1,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000
4,5,2,77,1,"""The Gu"" red shirt XML tag t-shirt (White) XXS",1,6,84.0,2013-01-02,1,6,2013-01-02 07:00:00.0000000,2013-01-02T07:00:00.000000

Shape: 4,759 rows × 13 columns

────────────────────────────────────────────────────────────────────────────────
SALES_ORDER

,OrderID,CustomerID,SalespersonPersonID,PickedByPersonID,ContactPersonID,BackorderOrderID,OrderDate,ExpectedDeliveryDate,CustomerPurchaseOrderNumber,IsUndersupplyBackordered,Comments,DeliveryInstructions,InternalComments,PickingCompletedWhen,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,832,2,NaN,3032,45.0,2013-01-01,2013-01-02,12126,1,NaN,NaN,NaN,2013-01-01 12:00:00.0000000,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
1,2,803,8,NaN,3003,46.0,2013-01-01,2013-01-02,15342,1,NaN,NaN,NaN,2013-01-01 12:00:00.0000000,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
2,3,105,7,NaN,1209,47.0,2013-01-01,2013-01-02,12211,1,NaN,NaN,NaN,2013-01-01 12:00:00.0000000,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000
3,4,57,16,3.0,1113,NaN,2013-01-01,2013-01-02,17129,1,NaN,NaN,NaN,2013-01-01 11:00:00.0000000,3,2013-01-01 11:00:00.0000000,2013-01-01T11:00:00.000000
4,5,905,3,NaN,3105,48.0,2013-01-01,2013-01-02,10369,1,NaN,NaN,NaN,2013-01-01 12:00:00.0000000,7,2013-01-01 12:00:00.0000000,2013-01-01T12:00:00.000000

Shape: 40,286 rows × 17 columns

────────────────────────────────────────────────────────────────────────────────
SALES_ORDERLINE

,OrderLineID,OrderID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,PickedQuantity,PickingCompletedWhen,LastEditedBy,LastEditedWhen,LastEditedWhen_parsed
0,1,45,164,32 mm Double sided bubble wrap 50m,7,50,112.0,15.0,50,2013-01-02 11:00:00.0000000,4,2013-01-02 11:00:00.0000000,2013-01-02T11:00:00.000000
1,2,1,67,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15.0,10,2013-01-01 11:00:00.0000000,3,2013-01-01 11:00:00.0000000,2013-01-01T11:00:00.000000
2,3,2,50,Developer joke mug - old C developers never di...,7,9,13.0,15.0,9,2013-01-01 11:00:00.0000000,3,2013-01-01 11:00:00.0000000,2013-01-01T11:00:00.000000
3,4,46,89,"""The Gu"" red shirt XML tag t-shirt (Black) 3XS",7,72,18.0,15.0,72,2013-01-02 11:00:00.0000000,4,2013-01-02 11:00:00.0000000,2013-01-02T11:00:00.000000
4,5,46,171,32 mm Anti static bubble wrap (Blue) 10m,7,90,32.0,15.0,90,2013-01-02 11:00:00.0000000,4,2013-01-02 11:00:00.0000000,2013-01-02T11:00:00.000000

Shape: 128,144 rows × 13 columns

────────────────────────────────────────────────────────────────────────────────
STOCKGROUPS

,StockGroupID,StockGroupName,LastEditedBy,ValidFrom,ValidTo
0,1,Novelty Items,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Clothing,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Mugs,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,T-Shirts,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,Airline Novelties,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 10 rows × 5 columns

────────────────────────────────────────────────────────────────────────────────
STOCKITEMHOLDINGS

,StockItemID,QuantityOnHand,BinLocation,LastStocktakeQuantity,LastCostPrice,ReorderLevel,TargetStockLevel,LastEditedBy,LastEditedWhen
0,1,175609,L-1,171341,9.50,20,100,16,2016-05-31 07:00:00.0000000
1,2,165538,L-1,161435,9.50,20,100,3,2016-05-31 12:00:00.0000000
2,3,253190,L-2,246900,11.25,10,120,3,2016-05-31 12:00:00.0000000
3,4,208109,L-3,202964,12.00,5,100,3,2016-05-31 12:00:00.0000000
4,5,199064,L-3,194162,12.00,5,100,3,2016-05-31 12:00:00.0000000

Shape: 227 rows × 9 columns

────────────────────────────────────────────────────────────────────────────────
STOCKITEMS

,StockItemID,StockItemName,SupplierID,ColorID,UnitPackageID,OuterPackageID,Brand,Size,LeadTimeDays,QuantityPerOuter,...,TypicalWeightPerUnit,MarketingComments,InternalComments,Photo,CustomFields,Tags,SearchDetails,LastEditedBy,ValidFrom,ValidTo
0,1,USB missile launcher (Green),12,NaN,7,7,NaN,NaN,14,1,...,0.30,Complete with 12 projectiles,NaN,NaN,"{ ""CountryOfManufacture"": ""China"", ""Tags"": [""U...","[""USB Powered""]",USB missile launcher (Green) Complete with 12 ...,1,2016-05-31 23:11:00.0000000,9999-12-31 23:59:59.9999999
1,2,USB rocket launcher (Gray),12,12.0,7,7,NaN,NaN,14,1,...,0.30,Complete with 12 projectiles,NaN,NaN,"{ ""CountryOfManufacture"": ""China"", ""Tags"": [""U...","[""USB Powered""]",USB rocket launcher (Gray) Complete with 12 pr...,1,2016-05-31 23:11:00.0000000,9999-12-31 23:59:59.9999999
2,3,Office cube periscope (Black),12,3.0,7,6,NaN,NaN,14,10,...,0.25,Need to see over your cubicle wall? This is ju...,NaN,NaN,"{ ""CountryOfManufacture"": ""China"", ""Tags"": [] }",[],Office cube periscope (Black) Need to see over...,1,2016-05-31 23:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,USB food flash drive - sushi roll,12,NaN,7,7,NaN,NaN,14,1,...,0.05,NaN,NaN,NaN,"{ ""CountryOfManufacture"": ""Japan"", ""Tags"": [""3...","[""32GB"",""USB Powered""]",USB food flash drive - sushi roll,1,2016-05-31 23:11:00.0000000,9999-12-31 23:59:59.9999999
4,5,USB food flash drive - hamburger,12,NaN,7,7,NaN,NaN,14,1,...,0.05,NaN,NaN,NaN,"{ ""CountryOfManufacture"": ""Japan"", ""Tags"": [""1...","[""16GB"",""USB Powered""]",USB food flash drive - hamburger,1,2016-05-31 23:11:00.0000000,9999-12-31 23:59:59.9999999

Shape: 227 rows × 25 columns

────────────────────────────────────────────────────────────────────────────────
SUPPLIERS

,SupplierID,SupplierName,SupplierCategoryID,PrimaryContactPersonID,AlternateContactPersonID,DeliveryMethodID,DeliveryCityID,PostalCityID,SupplierReference,BankAccountName,...,DeliveryAddressLine1,DeliveryAddressLine2,DeliveryPostalCode,DeliveryLocation,PostalAddressLine1,PostalAddressLine2,PostalPostalCode,LastEditedBy,ValidFrom,ValidTo
0,1,A Datum Corporation,2,21,22,7.0,38171,38171,AA20384,A Datum Corporation,...,Suite 10,183838 Southwest Boulevard,46077,0xE6100000010CDE115F37B6F9434031276893C39055C0,PO Box 1039,Surrey,46077,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999
1,2,"Contoso, Ltd.",2,23,24,9.0,13870,13870,B2084020,Contoso Ltd,...,Unit 2,2934 Night Road,98253,0xE6100000010CDA4B6430900C4840C04EFBF7AAA45EC0,PO Box 1012,Jolimont,98253,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999
2,3,Consolidated Messenger,6,25,26,NaN,30378,30378,209340283,Consolidated Messenger,...,NaN,894 Market Day Street,94101,0xE6100000010C529ACDE330E34240DFFB1BB4D79A5EC0,PO Box 1014,West Mont,94101,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999
3,4,"Fabrikam, Inc.",4,27,28,7.0,18557,18557,293092,Fabrikam Inc,...,Level 2,393999 Woodberg Road,40351,0xE6100000010C86E7A5626313434023C9625147E054C0,PO Box 301,Eaglemont,40351,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999
4,5,Graphic Design Institute,2,29,30,10.0,18634,18634,08803922,Graphic Design Institute,...,NaN,45th Street,64847,0xE6100000010C15E46723D74D424081F8AF62A79C57C0,PO Box 393,Willow,64847,1,2013-01-01 00:05:00.0000000,9999-12-31 23:59:59.9999999

Shape: 13 rows × 29 columns

────────────────────────────────────────────────────────────────────────────────
SUPPLIERSTRANSACTIONS

,SupplierTransactionID,SupplierID,TransactionTypeID,PurchaseOrderID,PaymentMethodID,SupplierInvoiceNumber,TransactionDate,AmountExcludingTax,TaxAmount,TransactionAmount,OutstandingBalance,FinalizationDate,IsFinalized,LastEditedBy,LastEditedWhen
0,134,2,5,1.0,4,7290.0,2013-01-02,313.5,47.03,360.53,0.0,2013-01-07,1,4,2013-01-07 09:00:00.0000000
1,169,4,5,2.0,4,3898.0,2013-01-02,21732.0,3259.80,24991.80,0.0,2013-01-07,1,4,2013-01-07 09:00:00.0000000
2,186,5,5,3.0,4,616.0,2013-01-02,2740.5,411.11,3151.61,0.0,2013-01-07,1,4,2013-01-07 09:00:00.0000000
3,215,7,5,4.0,4,3869.0,2013-01-02,42481.2,6372.19,48853.39,0.0,2013-01-07,1,4,2013-01-07 09:00:00.0000000
4,224,10,5,5.0,4,4697.0,2013-01-02,35067.5,5260.14,40327.64,0.0,2013-01-07,1,4,2013-01-07 09:00:00.0000000

Shape: 2,438 rows × 15 columns

────────────────────────────────────────────────────────────────────────────────
TRANSACTIONTYPES

,TransactionTypeID,TransactionTypeName,LastEditedBy,ValidFrom,ValidTo
0,1,Customer Invoice,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
1,2,Customer Credit Note,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
2,3,Customer Payment Received,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
3,4,Customer Refund,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999
4,5,Supplier Invoice,1,2013-01-01 00:00:00.0000000,9999-12-31 23:59:59.9999999

Shape: 13 rows × 5 columns

# Check

In [ ]:
BASE_DIR = Path("s:/dev/Lakehouse Projekt/lakehouse-demo")
SILVER = BASE_DIR / "data" / "gold"

In [ ]:
responsible_market = pd.read_csv(SILVER / "dim_geography.csv")